In [1]:
import pandas as pd

In [2]:
# Data Loading
data = pd.read_csv('./D1_Movie_Revenue_Dataset.csv')
data

,Rank,Release Date,Title,Production Budget,Domestic Gross,Worldwide Gross
0,1,23-Apr-19,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564"
1,2,20-May-11,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802"
2,3,22-Apr-15,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979"
3,4,16-Dec-15,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817"
4,5,25-Apr-18,Avengers: Infinity War,"300,000,000","678,815,482","2,044,540,523"
...,...,...,...,...,...,...
6164,6165,Unknown,Red 11,"7,000",0,0
6165,6166,02-Apr-99,Following,"6,000","48,482","240,495"
6166,6167,13-Jul-05,Return to the Land of Wonders,"5,000","1,338","1,338"
6167,6168,29-Sep-15,A Plague So Pleasant,"1,400",0,0
6168,6169,05-Aug-05,My Date With Drew,"1,100","181,041","181,041"

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               6169 non-null   int64
 1   Release Date       6169 non-null   object
 2   Title              6169 non-null   object
 3   Production Budget  6169 non-null   object
 4   Domestic Gross     6169 non-null   object
 5   Worldwide Gross    6169 non-null   object
dtypes: int64(1), object(5)
memory usage: 289.3+ KB